@use '../custom' as *;
@use '../components/mixins' as *;
.footer {
    padding-top: 1rem;
    background-color: $footer;
}

// CONTACT-BOX CSS
.contact-box {
    position: relative;
    &__icon {
        width: 2rem;
        stroke: $primary;
        @include media-breakpoint-up(sm) {
            width: 4rem;
            padding: 0.6rem;
        }
    }
    &__info {
        padding-left: 1rem;
        font-weight: 600;
        &--title {
            color: $white;
            text-decoration: none;
            font-size: 1rem;
            @include media-breakpoint-up(sm) {
                font-size: 1.4rem;
            }
        }
        &--subtitle {
            color: $gray-600;
            text-decoration: none;
            font-size: 0.8rem;
            @include media-breakpoint-up(sm) {
                font-size: 1rem;
            }
        }
    }
}

// SOCIAL MEDIA CSS
.footer-sm {
    a {
        color: $white;
        i {
            font-size: 1rem;
            margin-right: 1rem;
            @include media-breakpoint-up(sm) {
                font-size: 1.5rem;
            }
        }
    }
}

// THE COMPANY INFO
.company-list {
    display: block;
    list-style: none;
    position: relative;
    li {
        margin-bottom: 0.5rem;
        text-decoration: none;
        a {
            color: $white;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
}

// COPYRIGHT CSS
.footer-bottom {
    background-color: $black;
    &__copyright {
        color: $gray-600;
        font-weight: 400;
        a {
            color: $gray-300;
            text-decoration: none;
            &:hover {
                color: $primary;
                text-decoration: underline;
            }
        }
    }
}

// BACK TO TOP CSS
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    i {
        font-size: 1rem;
        color: $white;
        @include absoluteCenter
    }
}